.navbar {
  background-color: #141e3e;
  border-right: none;
  right: 0;
  height: 100vh;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  font-family: 'SimplerPro', sans-serif;
}

.logoImage {
  opacity: 1;
}

.iconBox {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.profileBox {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profileText {
  font-family: 'SimplerPro', sans-serif;
  text-align: right;
  flex: 1;
}

.main {
  background-color: #f5f5f5;
  margin-right: 0;
  margin-left: 0;
  height: 100vh;
  max-height: 1080px;
  overflow: hidden;
}
