# Dependencies
node_modules/
*/node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production
backend/.env

frontend_user/.env
frontend_admin/.env
backend/coverage

# Build outputs
dist/
build/
*/dist/
*/build/

# Logs
*.log
npm-debug.log*
backend/coverage/
# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo