.modal {
  border-radius: 12px;
  width: calc((100vw - 320px) / 3);
  max-width: 500px;
  min-width: 400px;
}

.inner {
  padding-right: 320px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

