.delete-assignment-modal-content {
  border-radius: '12px';
  width: calc((100vw - 320px) / 3);
  max-width: 500px;
  min-width: 400px;
}

.delete-assignment-modal-inner {
  padding-right: 320px;
}

.delete-assignment-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  right: 320px;
}

.delete-assignment-buttons-group {
  width: 100%;
}

.delete-assignment-delete-button {
  background-color: #FF2F32;
  color: white;
  width: 40%;
  flex-shrink: 0;
}

.delete-assignment-cancel-button {
  background-color: #8190A9;
  color: white;
  width: 40%;
  flex-shrink: 0;
}

