/**
 * DailyAttendanceCard styles
 */

.card {
  padding: 12px 0;
  border-bottom: 1px solid var(--mantine-color-gray-2);
}

.card:last-child {
  border-bottom: none;
}

.editButton {
  transition: opacity 0.2s;
}

.editButton:hover {
  opacity: 0.7;
}

.timeLogs {
  padding-top: 4px;
}
